<div class="container">
  <div class="jumbotron">
    <h1 class="align-center">Welcome!</h1>
    <form class="form-inline align-center" ng-submit="submit()">
      <div class="form-group">
        <input type="text" ng-model="tag" class="form-control" placeholder="Let's find some recipes for you" id="search-form">
      </div>
      <button type="submit" value="Search" class="btn btn-primary"> Search</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">

    <div ng-repeat="recipe in recipeData.recipes">

      <div class="col-md-3 recipe-container">
        <div class="recipe-content">

          <img ng-src="{{recipe.image_url}}" class="recipe-image">

          <div class="recipe-info">
            <p>{{recipe.title}}</p>
            <!-- <p>{{recipe.publisher}}</p> -->
            <a href="{{recipe.source_url}}" target="_blank">View Recipe</a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>