<div class="container">
  <div class="row">
    <div class="col-md-12">

      <form class="form-inline" ng-submit="submit()">
        <div class="form-group">
          <input type="text" ng-model="tag" class="form-control">
        </div>
        <button type="submit" value="Search" class="btn btn-primary"> Search</button>
      </form>

    </div>
  </div>
</div>

{{tag}}
<!-- <form ng-submit="submit()" role="form">
  <div class="form-group">
    <input type="text" class="form-control" ng-model="result" options="options" details="details">
  </div>
  <button type="submit" class="btn btn-primary" id="main-button">FIND MY RECIPES</button>
</form> -->