<div class="container">
  <div class="row">

    <div class="container">
      <div class="jumbotron">
        <div class="jumbotron-header">
          <h1>Find delicious & trending recipes fast! </h1>
        </div>
        <form class="form-inline form-content" ng-submit="submit()">
          <div class="form-group"><span>
            <input type="text" ng-model="tag" class="form-control form-input" placeholder="Let's find some recipes for you">
            <button type="submit" value="Search" class="btn btn-default search-button"> Search</button></span>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <div ng-repeat="recipe in recipeData.recipes">

          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 recipe-container">
            <div class="recipe-content">
              
              <img ng-src="{{recipe.image_url}}" class="recipe-image">

              <div class="recipe-info">
                <p>{{recipe.title}}</p>
                <!-- <p>{{recipe.publisher}}</p> -->
                <a href="{{recipe.source_url}}" target="_blank">View Recipe</a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>