.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}

.navbar-header {
  width: 100%;
  padding: 25px;
}

.navbar-brand {
  float: none;
  font-size: 50px;
  text-align: center;
  font-family: Panton Bold;
}

.navbar-default .navbar-brand {
    color: #F89406;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #F89406;
}
